:root {
  --font-size-lg: 6vw;
  --font-size-md: 2.8vw;
  --font-size-sm: 1.6vw;
  --font-size-xsm: 1vw;
  --spacing-lg: 4vw;
  --spacing-md: 3vw;
  --spacing-sm: 2vw;
  --spacing-xsm: 1vw;
  --sizing-logo: 8vw;
  --sizing-logo-sm: 6vw;
  --primary-color: white;
  --secundary-color: #f2f2f2;
  --first-color: #002452;
  --font-color: #52575E;
  --font-neutral-color: #ACACAC;
  --divider-color: #EEEEEE;
}

.intro {
  height: 100vh;
  min-height: 30em;
  background: #c4cbc7;
  background-image: url('portada.jpg'); /* Ruta a tu imagen */
  background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
}

.info .selected-work {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #15376059;
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
}

.info .your-name {
  position: relative;
  width: fit-content;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: var(--first-color);
  font-size: var(--font-size-lg);
  margin: 0;
}

.intro .portf {
  position: relative;
  width: fit-content;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: var(--first-color);
  font-size: var(--font-size-md);
}
.intro .info {
  display: flex;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.info .title-header {
  padding: var(--spacing-lg);
}

.sheet {
  width: auto;
}

.sheet .header {
  padding: var(--spacing-sm) var(--font-size-md) 0;
}

.sheet .type {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--font-neutral-color);
  font-size: var(--font-size-xsm);
  margin: 0 var(--spacing-sm);
  border-bottom: solid .2em var(--divider-color);
  padding: 1em;
  width: 35em;
}
.sheet .header-title {
  font-family: "Helvetica Neue-Regular", Helvetica;
  color: #002452;
  font-size: var(--font-size-md);

}

.sheet .header-description {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: var(--font-color);
  font-size: var(--font-size-sm);
  letter-spacing: .05em;
}

.sheet .block {
  display: flex;
  flex-wrap: nowrap;
  background: var(--secundary-color);
  padding: var(--spacing-lg) 20vw;
}

.section {
  padding: var(--spacing-xsm) var(--spacing-sm);
  width: auto;
}

.section .title { 
  font-family: "Helvetica Neue-Regular", Helvetica;
  color: #002452;
  font-size: var(--font-size-xsm);
  text-transform: uppercase;
}

.section.logos {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.section img {
  width: var(--sizing-logo);
  height: fit-content;
}

.section .text-wrapper {
  font-family: "Helvetica Neue", Helvetica;
    font-weight: 300;
    color: var(--font-color);
    font-size: var(--font-size-xsm);
    letter-spacing: .04em;
}

.sheet.half {
  display: grid;
  grid-template-columns: 40vw 1fr;
  padding: 0 !important;
}

.sheet .last img{
  width: 100%;
  height: fit-content;
  box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.sheet .first {
  display: flex;
  flex-direction: column;
}

.sheet .last {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  justify-content: center;
}

.sheet .last .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.sheet .stack {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .1em;

}

.stack a{
  transition: width 3s cubic-bezier(0.99, -0.03, 0.53, 0.7);
}

.stack a:not(:nth-child(3)){
  overflow: hidden;
  width: 10em;
}

.stack a:nth-child(n+3) {
  display: flex;
  justify-content: flex-end;
}

.stack a:hover{
  width: fit-content;
}

.col {
  width: 100%;
}


.stack img {
  width: 15vw !important;
  height: fit-content !important;
}

.unique img {
  width: 100%;
}

.slider {
  overflow: scroll;

}

@media (max-width: 1024px) {
  :root {
    --font-size-lg: 6vw;
    --font-size-md: 3vw;
    --font-size-sm: 2.2vw;
    --font-size-xsm: 1.6vw;
    --sizing-logo: 20vw;
    --sizing-logo-sm: 18vw;
  }
  .sheet.half {
    grid-template-columns: none;
  }
  .sheet .block {
    flex-wrap: wrap;
    padding: var(--spacing-lg) 10vw;
  }
  .sheet .section {
    padding: var(--spacing-sm) var(--spacing-md);
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-lg: 8vw;
    --font-size-md: 5vw;
    --font-size-sm: 3.2vw;
    --font-size-xsm: 2.6vw;
    --sizing-logo: 22vw;
    --sizing-logo-sm: 20vw;
  }
}

body { 
  margin: 0 !important;
  background: var(--primary-color);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita que aparezca la barra de desplazamiento horizontal */
}

.footer {
  padding: var(--spacing-lg);
    text-align: center;
    background: var(--first-color);
    color: white;
}

@media only screen and (orientation: portrait) {
  .intro {
    height: 60vw;
  }
}

.links {
  display: flex;
  justify-content: center;
}

.figma-logo {
  width: var(--sizing-logo-sm) !important;
}

.links a {
  display: flex;
  align-items: center;
}

.sheet .last caption {
  width: 100%;
}

.sheet .caption {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  color: var(--font-color);
  font-size: var(--font-size-xsm);
  letter-spacing: 0.25em;
  width: 75%;
  text-align: center;
  margin-top: 2em;
  padding-top: 1em;
  border-top: solid .1em black;
}