:root {
  --font-size-lg: 6vw;
  --font-size-md: 3vw;
  --font-size-sm: 1.6vw;
  --font-size-xsm: 1vw;
  --spacing-lg: 4vw;
  --spacing-md: 3vw;
  --spacing-sm: 2vw;
  --spacing-xsm: 1vw;
  --sizing-logo: 16vw;
}

.intro {
  height: 100vh;
  background: #c4cbc7;
}

.intro .mask {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.intro .portrait { 
  width: 90vw;
  height: fit-content;
  margin-top: -10em;
  object-fit: cover;
}

.info .selected-work {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #15376059;
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
}

.info .your-name {
  position: relative;
  width: fit-content;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #002452;
  font-size: var(--font-size-lg);
  margin: 0;
}

.intro .portf {
  position: relative;
  width: fit-content;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #002452;
  font-size: var(--font-size-md);
}
.intro .info {
  display: flex;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.info .title-header {
  padding: var(--spacing-lg);
}

.sheet {
  width: auto;
  padding: var(--spacing-lg) var(--font-size-sm);
}

.sheet .type {
  font-family: "Helvetica Neue-Regular", Helvetica;
  color: #ACACAC;
  font-size: var(--font-size-xsm);
  margin: 0 var(--spacing-sm);
}
.sheet .header-title {
  font-family: "Helvetica Neue-Regular", Helvetica;
  color: #002452;
  font-size: var(--font-size-md);
}

.sheet .header-description {
  font-family: "Helvetica Neue-Light", Helvetica;
  color: #002452;
  font-size: var(--font-size-sm);
}

.sheet .block {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: row;
}

.section {
  width: auto;
}

.section .title { 
  font-family: "Helvetica Neue-Regular", Helvetica;
  color: #002452;
  font-size: var(--font-size-xsm);
}

.section.logos {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.section img {
  width: var(--sizing-logo);
  height: fit-content;

}

.section .text-wrapper {
  font-family: "Helvetica Neue-Regular", Helvetica;
  color: #52575e;
  font-size: var(--font-size-xsm);
}

.sheet.half {
  display: grid;
  grid-template-columns: 40vw 1fr;
  padding: 0 !important;
}

.sheet .last img{
  width: 100%;
  height: fit-content;
}

.sheet .first {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background-color: white;
}

.sheet .last {
  display: flex;
  align-items: center;
  padding: var(--spacing-lg);
}

.sheet .stack {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stack img:nth-child(1) {
  position: relative;
  right: 0;
}

.stack img:nth-child(2) {
  position: relative;
  right: 4vw;
}

.stack img:nth-child(3) {
  position: relative;
  right: 8vw;
}

.stack img:nth-child(4) {
  position: relative;
  right: 12vw;
}

.stack img {
  width: 15vw !important;
  height: fit-content !important;
}

.unique img {
  width: 100%;
}

.slider {
  overflow: scroll;

}

@media (max-width: 1024px) {
  :root {
    --font-size-lg: 8vw;
    --font-size-md: 5vw;
    --font-size-sm: 2.6vw;
    --font-size-xsm: 3vw;
  }
  .sheet.half {
    grid-template-columns: none;
  }
}

body { 
  margin: 0 !important;
  background: #f4f4f4;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita que aparezca la barra de desplazamiento horizontal */
}